<div style="background-color: #128ee0; padding: 10px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
  <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: space-around;">
    <li>
      <a href="/" style="text-decoration: none; color: #fff; font-size: 18px; font-weight: bold;">Home</a>
    </li>
    <li>
      <a href="/login" style="text-decoration: none; color: #fff; font-size: 18px; font-weight: bold;">Login</a>
    </li>
    <li>
      <a href="/registro" style="text-decoration: none; color: #fff; font-size: 18px; font-weight: bold;">Registro</a>
    </li>
  </ul>
</div>
